.chatbox {
  color: white;
  font-size: 20px;
  position: absolute;
  left: 50%;
  bottom: 50px;
  width: 1000px;
  max-width: calc(100vw - 2 * 200px);
  transform: translateX(-50%);
  pointer-events: none;
}

.chat-form {
  backdrop-filter: blur(10px);
  padding: 9px 16px;
  border: 1px solid var(--leva-colors-elevation1);
  border-radius: var(--leva-radii-lg);
  box-shadow: var(--leva-shadows-level1);
  background-color: #00000030;
  pointer-events: all;
}

.chat-controls {
  display: flex;
  gap: 12px;
  align-items: center;
}

.chat-textarea {
  font-family: sans-serif;
  font-size: inherit;
  background: unset;
  border: 0;
  flex-grow: 1;
  color: inherit;
  resize: none;
  height: 1.2em;
  padding: 4px;
  user-select: text;
}

.chat-textarea:active,
.chat-textarea:focus {
  outline: unset;
}

.chat-button {
  width: 48px;
  height: 48px;
  background: unset;
  border: 0;
  color: inherit;
  transition: all 200ms;
  outline: none;
}

.chat-button:not([disabled]) {
  cursor: pointer;
}

.chat-button:hover:not([disabled]) {
  background-color: #ffffff20;
  border-radius: 100vw;
}

.chat-button[disabled] {
  color: gray;
}

.chat-history {
  pointer-events: all;
  user-select: text;
  padding: 12px 8px;
  margin-bottom: -8px;
  border-bottom: 1px dotted var(--leva-colors-elevation1);
  backdrop-filter: blur(10px);
  border: 1px solid var(--leva-colors-elevation1);
  border-radius: var(--leva-radii-lg) var(--leva-radii-lg) 0 0;
  box-shadow: var(--leva-shadows-level1);
  background-color: #00000030;
  border-bottom-width: 0;
  padding-bottom: 20px;
}

.history-message {
  padding: 9px 16px;
  border-radius: var(--leva-radii-lg);
  border-bottom-right-radius: 0;
  max-width: 70%;
  pointer-events: painted;
}

.history-message.me {
  align-self: flex-end;
  background-color: var(--leva-colors-accent1);
}

.history-message.other {
  align-self: flex-start;
  background-color: var(--leva-colors-elevation3);
}

.history-entries {
  max-height: 50vh;
  overflow: auto;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-right: 8px;
}

.chat-recent {
  user-select: text;
  padding: 12px 8px;
  margin-bottom: -8px;
  border-bottom: 1px dotted var(--leva-colors-elevation1);
  border-bottom-width: 0;
  padding-bottom: 20px;
  pointer-events: none;
}

.chat-recent .history-entries {
  pointer-events: none;
  max-height: unset;
  overflow: hidden;
}
