body {
  --leva-sizes-rootWidth: 500px;
  --leva-fontSizes-root: 14px;
  --leva-sizes-controlWidth: 270px;
  --leva-colors-highlight1: #9fa7b9;

  --joystick-size: 150px;
  --joystick-margin: 50px;
  --joystick-space: calc(var(--joystick-size) + var(--joystick-margin) + 20px);
}

body {
  background-color: #222;
  color: #ccc;
  margin: 0;
  padding: 0;
  user-select: none;
  font-family: sans-serif;
}

#root {
  height: 100vh;
}

::-webkit-scrollbar {
  width: 8px;
  border-radius: 4px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #bbb;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #bbb;
}
